/*
Author: L. Voogdt
License: MIT
Version: 1.0
*/

/* Marker setup */
.awesome-marker {
  background: url('images/rfms_markers.png') no-repeat 0 0;
  position:absolute;
  left:0;
  top:0;
  display: block;
  text-align: center;
}

.awesome-marker-shadow {
  background: url('images/markers-shadow.png') no-repeat 0 0;
  width: 24px;
  height: 46px;
}

/* Retina displays */
@media (min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
 .awesome-marker {
  background-image: url('images/markers-plain.png');
  background-size:  72px 46px;
 }
 .awesome-marker-shadow {
  background-image: url('images/markers-shadow@2x.png');
  background-size: 20px 16px;
 }
}

.awesome-marker i { color: #444; margin-top: 26px; display: inline-block; font-size: 12px;}

/* Colors */
.awesome-marker-icon-red 		{background-position: 0 0; color: F00;}
.awesome-marker-icon-orange 		{background-position: -36px 0; color: F60;}
.awesome-marker-icon-green  		{background-position: -72px 0;}
.awesome-marker-icon-lightblue 	{background-position: -108px 0;}
.awesome-marker-icon-purple 		{background-position: -144px 0;}
.awesome-marker-icon-darkred 	{background-position: -180px 0;}
.awesome-marker-icon-blue 		{background-position: -216px 0;color: #353c45;}
.awesome-marker-icon-darkgreen 	{background-position: -252px 0;}
.awesome-marker-icon-darkpurple 	{background-position: -288px 0;}
.awesome-marker-icon-gray 		{background-position: -324px 0;}
.awesome-marker-icon-white 		{background-position: -612px 0;}
