@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@font-face 					{font-family: HelveticaNeueBlack;src: url("../fonts/HelveticaNeueLTPro-Blk.otf") format("opentype");}
@font-face 					{font-family: HelveticaNeueLigth;src: url("../fonts/HelveticaNeueLTPro-Lt.otf") format("opentype");}
@font-face 					{font-family: HelveticaNeueThin;src: url("../fonts/HelveticaNeueLTPro-Th.otf") format("opentype");}
@font-face 					{font-family: HelveticaNeueXBlack;src: url("../fonts/HelveticaNeueLTPro-XBlkCnO.otf") format("opentype");} 

body,select					{font-family: 'HelveticaNeueLigth', Helvetica,sans-serif; font-size:14px;font-weight:500;letter-spacing: .02rem;}

.TermsAndConditionsText,
.modal-about 				{font-family: 'HelveticaNeueLigth', Helvetica,sans-serif;}
.bg-dark 					{background-color:  #2f8927!important;}
.bg-footer 					{background-color:  #2f8927!important;}
/*Navigation BAR settings */

.navbar-dark .navbar-nav .nav-link 			
							{color: #DDD;/* border-bottom: 6px solid transparent */}
.navbar-dark .navbar-brand:focus, 
.navbar-dark .navbar-brand:hover 
							{color: #FFF;}
.navbar						{padding: 5px;min-height:58px}
.navbar-dark .navbar-nav .nav-link:focus, 
.navbar-dark .navbar-nav .nav-link:hover 	
							{color: #FFF; /* border-bottom: 6px solid #2f8927 */}
.navbar-dark-select .ss-option		
							{color: #2f8927; }
.navbar-dark-select .ss-open		
							{box-shadow: 1px 2px 11px #444;}
.navbar-expand-md 			{box-shadow: 0 4px 8px rgba(0,0,0,.2);}
.nav-tabs 					{border-bottom: 1px solid #DDD;}
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover 	{border: 0px solid #444;;color:#2f8927; font-weight: 700;background-color: transparent;border-bottom: 3px solid #a4a7b5;}
.nav-tabs .nav-link:focus 	{border-color: #fff;background-color: transparent;}
.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active 	{color: #495057; background-color: transparent;  border-color: #FFF; font-weight: 700; border-bottom: 3px solid #2f8927;}
.dropdown-menu.show 		{box-shadow: 1px 2px 11px #444;}

/* End-Navigation BAR settings */
.list-group-item.active 	{z-index: 2; color: #fff; background-color: #2f8927;  border-color: #2f8927;font-weight:700;}


/* Start Reportlogo settings */
.trips, .distance, .fuelused,
.fuelusage, .co2,.days, .sum-drive, 
.sum-work, .sum-rest, .sum-avail, 
.sum-today, .sum-week		{height:54px; line-height:18px;text-align:right;color:#6c757d;font-size:100%;/* background-color:#F1F1F1; */ border-bottom: 1px solid rgba(0,0,0,.125); position:relative;}
.trips::before,
.distance::before,
.fuelused::before,
.fuelusage::before, 
.co2::before, 
.days::before,			
.sum-drive::before,
.sum-work::before,
.sum-rest::before,
.sum-avail::before,
.sum-today::before,
.sum-week::before			{position:absolute;font-family:'Font Awesome 5 Free'; top:22px;left:10px; color:#2f8927;font-size:36px;opacity:.2;font-weight:900;}	
.trips::before				{content:"\f11e";  }
.distance::before			{content:"\f4d7"; }
.fuelused::before			{content:"\f52f"; }
.fuelusage::before			{content:"\f043"; }
.co2::before				{content:"\f46a"; }
.days::before				{content:"\f073"; }	
.sum-drive::before			{content:"\f2bd"; }	
.sum-work::before			{content:"\f7d9"; }	
.sum-rest::before			{content:"\f236"; }	
.sum-available::before		{content:"\f0c8"; }	
.sum-today::before			{content:"\f783"; }	
.sum-week::before			{content:"\f784"; }	

/* End Reportlogo settings */
/* Start VehicleInfo settings */
.truck_background			{position:relative;}

.truck_background::before	{position:absolute;font-family:'Font Awesome 5 Free'; top:90px;left:-10px; color:#fff;font-size:200px;opacity:.9;font-weight:900;}	
.truck_background::before	{content:"\f4df"; }	
/* End VehicleInfo settings */
.login-body 				{background-color:transparent; }
.loginbox 					{min-height:500px;}
.loginbox-info				{background-color:rgba(255,255,255,0.95);min-height:500px;}
.login-text					{font-size :75px; font-weight:700; font-family:'Roboto Mono';line-height:75px;}
.login-text-big				{font-size :150px; font-weight:700; font-family:'Roboto Mono';line-height:100px;}
.login-control 				{border:0;border-bottom: 1px solid #ddd;  border-radius:0px;color: #67757c; display: block;
							width: 100%;padding: .375rem .75rem; line-height: 1.5; background-clip: padding-box;border-radius: .0rem;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;background-color: transparent;} 
.login-control:focus		{outline: 0;background-color: #DDD;FONT-WEIGHT: 700;}
.login-bg					{background-color:#ccc ;background-image: url("https://fleetimages.bobitstudios.com/upload/truckinginfo/content/news/_migrated/m-highwaysinterchange-cr-conway-2-2.jpg");
							 background-size: auto 100%;  background-repeat: no-repeat;  background-position: right top;   }
body 						{background-color: #f1f1f1; color: #353c45; } /*#F1F1F1;*/
.container 					{background-color:transparent;max-width: 100%;}
.section-full 				{background-color:transparent;max-width: 100%;	height: calc(100vh - 60px);margin:auto; }
.section-login 				{background-color:transparent;max-width: 1400px;height: calc(100vh - 220px); margin:80px 0 80px 60px;}
.section-login-banner		{background-color:transparent;max-width: 100%;	margin:auto;height: 230px}
.title						{color:#fff;font-weight:700; align-self: left;font-size:80px;text-shadow: #2f8927 1px 1px 3px;  }
.subtitle					{color:#fff;font-weight:700; align-self: left;font-size:24px;text-shadow: #2f8927 1px 1px 3px;}
.card-title, 
a.card-title 				{color: #353c45;font-size:120%;text-transform:uppercase; font-weight:700;background-color: transparent; min-height: 40px;margin-left:10px;margin-right:10px;}
.card-subtitle				{color: #353c45;font-size:1.25rem;text-transform:uppercase; background-color: transparent; min-height: 40px;padding:10px;border-bottom: 1px solid #bbb;font-family: 'HelveticaNeueBlack', Helvetica,sans-serif;}
.card-divider				{display:none;min-height:10px; position: relative;padding-left:10px;padding-right:10px;
							 background: radial-gradient(circle at left 16px, #f3f3f3 10px, #FFF 0) top left/10px 100% no-repeat, 
										 radial-gradient(circle at right 16px, #f3f3f3 10px, #FFF 0) top right/10px 100% no-repeat;}
.hr-dashed					{border-top: 2px dashed #ddd;}
.card 						{background-color:#fff;border: 0px solid rgba(0,0,0,.125);border-radius: 5px; min-height: 100px;margin-bottom: 10px ;/* box-shadow: 0 2px 5px  rgba(62,57,107,.07); */transition: box-shadow 500ms  }
.card-header 				{font-weight:700;color: #666;font-size:115%;background-color:#F1F1F1; border-bottom: 1px solid rgba(0,0,0,.125); position:relative;}
.card-body 					{padding-bottom:1px;padding-top:20px;margin-left:10px;margin-right:10px}
.logo-footer 				{border-top: none; background-color: rgba(255,255,255,0.25);color:#fff;}
.payoff 					{color: #FFF;}
.input-group	 			{color: #555;background-color: #fff ; border: 0px solid #ddd;border-bottom: 1px solid #ddd;}
.input-group-addon 			{border: 0px solid #ddd;  border-bottom: 0px solid #ddd; }
.form-control 				{border:0;border-bottom: 1px solid #ddd;  border-radius:0px;color: #67757c; }
select 						{background-color: #fff; border:0; color: #495057;border-bottom:1px solid #ddd}
select#groups 				{background-color: transparent; border:0; color:#fff; border-bottom:0px; font-family: 'HelveticaNeueBlack', Helvetica,sans-serif;}
option.DeActiveGroup		{color:#353c45; font-family: 'Roboto'; font-weight:400;}
.pagina						{background-color:#fff;border-radius:5px; box-shadow:5px 5px 15px #ddd; margin: 30px 15px 30px 15px; padding:20px;padding-top:20px}
.pagina-login				{background-color:#fff;border-radius:0px; box-shadow:5px 5px 15px #ddd; padding-right:10px}
#VehicleDetails, #VList 	{background-color: #f1f1f1;}
/* .ss-main .ss-single-selected,
select
					{/* background-color: #F1F1F1 ;border-bottom:1px solid #ddd;} */
.ss-main .ss-content .ss-search input:focus 
							{box-shadow: 0 0 5px #353c45;}
.ss-main .ss-single-selected .ss-arrow span 
							{border: solid #ddd;border-width: 0 3px 3px 0;display: inline-block;padding: 3px; transition: transform .2s, margin .2s;}
.placeholder				{font-family: 'HelveticaNeueBlack', Helvetica,sans-serif;}
a.VL_list 					{color: transparent;}

.DashTile:hover 			{box-shadow: 2px 2px 8px rgba(0,0,0,0.2);transition: box-shadow 500ms; }	 
.DashTile 					{/* box-shadow: 0 2px 5px  rgba(62,57,107,.07); */ background-color: #fff; min-height:150px}	
option.SOptAll				{color:red;	font-weight:700;}
.bg-trans 					{background-color: transparent;}
.VehicleListName			{color:#2f8927;font-weight:700}
.VehicleListInfo			{color:#666;font-weight: 400;}
.dropdown-item:focus, 
.dropdown-item:hover		{color: #FFF;    text-decoration: none; background-color: #2f8927;font-size:13px;}
.header.headroom 			{position: fixed;top: 0; left: 0; transition: transform 250ms ease-in-out; width: 100%;z-index: 1000;}
.sticky-top 				{position: sticky;top: 0;  z-index: 1020;}
.meta-navigation__list 		{flex-direction: row;}
.navbar-nav 				{display: flex;flex-direction: column;padding-left: 0;margin-bottom: 0;list-style: none;color:#EEE;}

ol, ul, dl 					{margin-top: 0; margin-bottom: 1rem;}
h4 							{font-weight:700;font-size:110%; text-transform:none;    margin-bottom: 0px;}
h3 							{font-weight:700;font-size:135%; text-transform:none;    margin-bottom: 0px; font-size: 1.35rem}

.div-title 					{background-color:#A4A7B5; color:#fff; min-height:50px;text-transform:uppercase;    }
.page-title					{font-family: 'HelveticaNeueBlack', Helvetica,sans-serif;display: inline-block; padding-top: 15px;padding-bottom: 15px; padding-left:15px;padding-right:15px; margin-right: 1rem;  font-size: 1.25rem;font-weight:700;  line-height: inherit;   white-space: nowrap;}
.page-title-secondary 		{margin-left: -15px; margin-right: -15px;  background-color: #DDD;}

@media (max-width: 768px) {
body,select					{font-size:18px;font-weight:500;}
.card-header 				{background-color:#f6f6f6;} 
.card-body, .card-title		{font-size:70%;margin-left: 0px; margin-right: 0px;}
.navbar-collapse 			{background-color: #f60;}
.section-login 				{background-color:transparent;height: calc(100vh ); margin: 0 auto;}
.navbar-nav-extra			{display: flex;flex-direction: row;padding: 10px;margin-bottom: 0;list-style: none; }
.pagina						{background-color:#fff;border-radius:0px; box-shadow:0px 0px 0px #ddd; margin:0px; padding:0px;padding-top:10px}
.login-text-big 			{font-size: 60px;}
.login-text 				{font-size: 40px;}
.loginbox-info				{background-color:rgba(255,255,255,0.8);min-height:calc(42vh);  }
.loginbox 					{min-height: 42vh;}
.title						{font-size:70px;text-shadow: #2f8927 1px 1px 3px; }
.subtitle					{font-size:34px;text-shadow: #2f8927 1px 1px 3px; }
.container					{padding-right: 5px;  padding-left: 5px;}
}
article, aside, dialog, 
figcaption, figure, footer, 
header, hgroup, 
main, section 				{display: block; overflow-y: hidden;   overflow-x: hidden;} 
.info-box-number 			{font-size: 18px;font-family: 'HelveticaNeueBlack', Helvetica,sans-serif;}
.info-icon 					{color: #a4a7b5;font-weight:400;}
.text-primary 				{color: #2f8927!important; }
.collapse.show				{display: block;background-color: transparent;}
/* #VehicleDetails  */
.dropdown-menu, 
.form-control  				{font-size: inherit;}
::-webkit-scrollbar-track	{background: rgba(144, 144, 144, 0.4); }
::-webkit-scrollbar-track-piece  
							{background-color: transparent;}
::-webkit-scrollbar-thumb	{background-color:#343a40;}
::-webkit-scrollbar 		{width:10px;}
.delayedrow					{color:red;font-weight:400;}
.correctedrow				{color:orange;font-weight:700;}
.disabledrow				{color:#ddd;font-weight:400;}
.bg-primary 				{background-color:#2f8927;}
.card-body 					{padding: 10px;}
.text-info 					{color: #2f8927!important;}
.dealerservice:hover		{color: #fff;background-color: #2f8927;}
.TripListName				{color:#111;font-weight:400;}
.TripListNameS				{color:#888;font-weight:400;font-size:90%;}
.TripListing, 
.TripListingActive			{border-left: 3px solid transparent;margin-bottom: 0px ;min-height: 60px;border-top:0px solid #ddd; background-color:#TRANSPARENT;} 
.DriverInfo 				{border-left: 0px solid transparent;margin-bottom: 0px ;min-height: 60px;border-top:0px solid #ddd; background-color:#TRANSPARENT;}
.TripListingBreak 			{border-left: 3px solid transparent;margin-bottom: 0px ;border-bottom:1px solid #F1F1F1;background-color:transparent;}
.TripListingEmpty 			{border-left: 3px solid transparent;margin-bottom: 0px ;min-height:5px;}
.DriverInfo:hover 			{border-left: 0px solid #2f8927;margin-bottom: 0px;color: #666;box-shadow:0px 2px 8px #ddd;}
.TripListing:hover			{border-left: 3px solid #2f8927;margin-bottom: 0px;color: #666;box-shadow:0px 2px 8px #ddd;}
.TripListingActive:hover 	{border-left: 3px solid #FC5F01;margin-bottom: 0px;color: #666;box-shadow:0px 2px 8px #ddd;}
.TripListingBreak:hover 	{border-left: 3px solid #8AC543;margin-bottom: 0px;color: #666;box-shadow:0px 2px 8px #ddd;}
.VehicleListing 			{border-left: 0px solid transparent;border-bottom:1px solid #ddd;padding-bottom:5px;padding-top:5px;line-height:25px;}
.VehicleListing:hover 		{border-left: 0px solid #2f8927;border-bottom:1px solid #ddd;padding-bottom:5px;padding-top:5px;color: #666;box-shadow:0px 2px 8px #ddd;}
.StatusLine					{line-height:30px;}
.StatusValue				{font-weight:700;}
.available 					{color : #f1f1f1;}
.rest 						{color : #8AC543;}
.drive 						{color : #2f8927;}
.work 						{color : #FC5F01;}
.bg-available				{background-color : #f1f1f1; color: #666}
.bg-rest 					{background-color : #8AC543; color: #fff}
.bg-drive 					{background-color : #2f8927; color: #fff}
.bg-work 					{background-color : #FC5F01; color: #fff}

/* Datatable row styling */
table.dataTable 			{clear: both;margin-top: 6px !important; margin-bottom: 6px !important;  max-width: none !important; border-collapse: separate !important; }
table.dataTable.stripe tbody tr, 
table.dataTable.display tbody tr.odd
							{background-color: #F9F9F9;}
table.dataTable.display tbody tr
							{line-height: 30px; 	}
table.dataTable.stripe tbody tr, 
table.dataTable.display tbody tr:hover 
							{background-color: #2f8927;color : #fff;box-shadow: 0 3px 5px #333;font-weight:700;}
/* tr.even:hover, tr.odd:hover	{background-color: #2f8927; color: #fff;box-shadow: 3px 3px 5px #333;} */
table.dataTable td.dataTables_empty, 
table.dataTable th.dataTables_empty 
							{text-align: center;color: #2f8927;height: 40px;}

table.dataTable tbody th, 
table.dataTable tbody td 	{padding: 6px 6px;}
table.dataTable thead>tr>th.sorting_asc, 
table.dataTable thead>tr>th.sorting_desc, 
table.dataTable thead>tr>th.sorting, 
table.dataTable thead>tr>td.sorting_asc, 
table.dataTable thead>tr>td.sorting_desc, 
table.dataTable thead>tr>td.sorting 
							{border-bottom: 1px solid #ddd;}					
.cell_bold					{font-weight:700;}	
.cell_warning				{font-weight:700;color: #FC5F01;}							
.cell_danger				{font-weight:700;color: #d73814;}							

.page-item.disabled .page-link 	
							{border-color: transparent;}
.page-item.active .page-link 	
							{z-index: 1;color: #fff;background-color: #2f8927; border-color: #2f8927; box-shadow: 1px 1px 8px #999;}
.page-link 					{color: #2f8927; background-color: #fff;border: 0px}	
.page-link:hover 			{z-index: 2;color: #fff;background-color: #353c45;  border-color: #353c45;}				
.dataTables_scroll 			{border-bottom: 1px solid #ddd;}
.sorting_1 					{font-weight: 700;}
.rFMSTable					{border-collapse:separate; border-spacing:0 15px;}

#tableloader 				{border: .4em solid rgba(218, 219, 223, 1); border-radius: 50%; border-top: .4em solid rgba(38,108,171,1); width: 40px; height: 40px;
					 -webkit-animation: spin 2s linear infinite; animation: spin 1s linear infinite; }   

@-webkit-keyframes spin 	{0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); }}
@keyframes spin 			{0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); }}
#tableGroup_processing,
#tableDrivers_processing,
#tableGroup_processing,
#tableUsers_processing,
#tableVehicles_processing,
#tableMaintenance_processing{background-color:transparent }
/*  ------------------------------------------------  */
.tooltip					{font-size: 100%;}
.btn--ghost, 
.btn-ghost, 
.btn-primary				{z-index: 1;color: #fff;background-color: #2f8927;border-color: #2f8927; box-shadow: 1px 1px 8px #999;}
.btn-primary:hover 			{color: #fff;background-color: #353c45;  border-color: #353c45;}
.btn-secondary:hover 		{color: #fff;background-color: #353c45;  border-color: #353c45;}
.btn-primary:not([disabled]):not(.disabled).active, 
.btn-primary:not([disabled]):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle 
							{color: #fff;background-color: #2f8927; border-color: #2f8927; box-shadow: none;}
.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-primary.dropdown-toggle:focus 
							{color: #fff;background-color: #2f8927; border-color: #2f8927; box-shadow: none;}
.btn-info 					{box-shadow: 1px 1px 8px #999;}
.btn-secondary 				{box-shadow: 1px 1px 8px #999;}
.dt-buttons.btn-group 		{box-shadow: 1px 1px 8px #999;}
.bgprimary 					{background-color:#2f8927;}
.notice 					{background-color: rgba(155,155,155,0.6);border-left: 2px solid #fafafa;border-right: 2px solid #fafafa; margin-bottom: 5px;}
.notice a:visited			{padding: 2px;}
.notice-sm 					{padding: 5px;font-size: 100%;}
.notice-lg 					{padding: 35px;font-size: large;}
.notice-success 			{border-color: #00a65a;font-size: 100%;}
.notice-primary 			{border-color: #2f8927;font-size: 100%;}
.notice-stopped 			{border-color: #66cce2;font-size: 100%;}
.notice-success				{color: #80D651;}
.notice-info 				{border-color: #2f8927;}
.notice-info				{color: #2f8927;}
.notice-warning 			{border-color: #FC5F01;}
.bg-warning 				{background-color: #FC5F01;}
.bg-white 					{background-color: #FFF;color:#444;}
.warning 					{color: #FC5F01;}
.btn-warning				{background-color :#FC5F01;}
.btn-warning:hover 			{color: #FFF; background-color: #FC5F01; border-color: #FC5F01;}
.btn-warning:not(:disabled):not(.disabled).active, 
.btn-warning:not(:disabled):not(.disabled):active, 
.show>.btn-warning.dropdown-toggle 
							{color: #FFF; background-color: #FC5F01;  border-color: #FC5F01;}
.notice-warning				{color: #FC5F01;}
.notice-warning 			{color: #FC5F01;}
.notice-danger 				{border-color: #d73814;background: rgba(183,28,28,.05);}
.notice-damage-warning		{background: transparent;border-left: 3px solid transparent;}
.notice-damage				{background: transparent;border-left: 3px solid transparent;}
.notice-damage:hover		{background: transparent;border-left: 3px solid #2f8927;}
.notice-damage-warning:hover{background: transparent;border-left: 3px solid #ff6600;}
.bg-danger 					{background-color: #d73814;}
.bg-grey 					{background-color: #efefef;}
.danger 					{color: #d73814;}
.notice-danger				{color: #d73814;}
.notice-danger 				{color: #d73814;}
.notice-backlog 			{color: #999;background-color: #ddd;border-color: #333;font-size: 100%;}
.bg-dashboard				{background-image: url('http://rfmsconnect.com/img/dashboard.png');	background-position: center center;  background-repeat: no-repeat;  background-size: cover;}
.bg-default					{background-color: #efefef;}
.primary 					{color:#2f8927;}
.gray 						{color:#A4A7B5;}
.red-kpi					{color:#EE000;text-align:center;}
.green-kpi					{color: #39cc64;text-align:center;}
.orange-kpi					{color: orange;	text-align:center;}

@media screen and (max-width: 991px) {
H3,H4 						{font-size:80%}	

}
@font-face 					{font-family: 'Glyphicons Halflings'; src: url('../fonts/glyphicons-halflings-regular.eot');src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');}
.glyphicon 					{position: relative; top: 1px;display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;}
.glyphicon-calendar:before { content: "\e109";}  
.VehicleListIconOk, 
.VehicleListIconOk:hover 	{color: #2f8927;}
.VehicleListIconStopped 	{color: #666;}
.VehicleList:hover			{color: #2f8927;}
.TripHeader,.TripDHeader  	{color: #2f8927;font-family: 'HelveticaNeueBlack', Helvetica,sans-serif;}
::-webkit-scrollbar-thumb	{background-color:rgba(38,108,171,0.5);}
 :focus 					{border-color: #2f8927;outline:0;}
.btn.focus, .btn:focus 		{outline: 0px;border-color : transparent; box-shadow:none;} 
.form-control:focus 		{color: #495057;font-weight: bold;    outline: 0;    box-shadow: 0 0 0 0;/* background-color: #e9ecef; */ }
.form-control:disabled, 
.form-control[readonly] 	{background-color: transparent; font-weight:700;opacity: 1;border-color:transparent;}
.btn-primary:not([disabled]):not(.disabled).active, 
.btn-primary:not([disabled]):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle 
							{color: #fff;background-color: #0062cc; border-color: #005cbf; box-shadow: none;}
a 							{color: #2f8927;}
.sloader 					{border: .2em solid rgba(218, 219, 223, 1); border-left: .2em solid rgba(38,108,171,1);}
.loader 					{border: .4em solid rgba(218, 219, 223, 1); border-left: .4em solid rgba(38,108,171,1);}
.bloader 					{border: .8em solid rgba(218, 219, 223, 1); border-left: .8em solid rgba(38,108,171,1);}
.navbar-toggler-icon 		{color: #666;border-color: #666;}
.VehicleListIconDelayed 	{color:#FF0000;}
.VehicleListIconError		{color:#FF6600;}
.VehicleListBacklog,
a.DealerInfo 				{color: #a4a7b5;}
.navbar-dark .navbar-toggler{/* border: 2px solid #A4A7B5; */}
.navbar-toggler .navbar-toggler-icon
							{background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
.selectize-input.full 		{background-color: #fff; height: 36px; font-size: 18px;font-weight: 700; color: #2f8927;border-bottom:1px solid #ddd}
.selectize-dropdown 		{background: #fff; border-color:#DDD; -webkit-border-radius: 0 0 0px 0px; -moz-border-radius: 0 0 0px 0px;  border-radius: 0 0 0px 0px;}
.selectize-dropdown.item:hover 
							{background: #FDEE5E;cursor: text; display: inline-block;}
#UserAccountsdata,
#Subscriptiondata,
#CVPCustomerTable			{font-size : 80%}

/* HighChart Settings 
* @license Highcharts
*/
.highcharts-container 		{position: relative;  overflow: hidden;  width: 100%;  height: 100%;  text-align: left;  line-height: normal;  z-index: 0;  /* #1072 */  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);  font-size: 12px;}
.highcharts-root 			{display: block;}
.highcharts-root text 		{stroke-width: 0;}
.highcharts-strong 			{font-weight: normal;}
.highcharts-emphasized 		{font-style: italic;}
.highcharts-anchor 			{cursor: pointer;}
.highcharts-background 		{fill: rgba(255, 255, 255, 0.0);}
.highcharts-plot-border,
.highcharts-plot-background	{fill: none;}
.highcharts-label-box 		{fill: none;}
.highcharts-button-box 		{fill: inherit;}
.highcharts-tracker-line 	{stroke-linejoin: round; stroke: rgba(253, 238, 94, 0.0001); stroke-width: 22; fill: none;}
.highcharts-tracker-area 	{fill: rgba(192, 192, 192, 0.0001); stroke-width: 0;}
/* Titles */
.highcharts-title 			{fill: #A4A7B5;font-size: 1.5em;}
.highcharts-subtitle 		{fill: #2f8927;}
/* Axes */
.highcharts-axis-line 		{fill: none;stroke: #ccd6eb;}
.highcharts-yaxis .highcharts-axis-line 
							{stroke-width: 0;}
.highcharts-axis-title 		{fill: #2f8927;}
.highcharts-axis-labels 	{fill: #EEE; cursor: default; font-size: 0.9em;}
.highcharts-grid-line 		{fill: none; stroke: #a4a7b5;}
.highcharts-xaxis-grid .highcharts-grid-line 
							{stroke-width: 0px;}
.highcharts-tick 			{stroke: #ccd6eb;}
.highcharts-yaxis .highcharts-tick 
							{stroke-width: 0;}
.highcharts-minor-grid-line	{stroke: #f2f2f2;}
.highcharts-crosshair-thin 	{stroke-width: 1px;  stroke: #cccccc;}
.highcharts-crosshair-category
							{stroke: #ccd6eb;  stroke-opacity: 0.25;}
/* Credits */
.highcharts-credits 		{cursor: pointer;  fill: #999999;  font-size: 0.7em;  transition: fill 250ms, font-size 250ms;}
.highcharts-credits:hover 	{fill: black;  font-size: 1em;}
/* Tooltip highcharts*/
.highcharts-tooltip 		{cursor: default;pointer-events: none;white-space: nowrap;transition: stroke 150ms;}
.highcharts-tooltip text 	{fill: #FFF;color:#2f8927}
.highcharts-tooltip .highcharts-header 
							{font-size: 0.85em;}
.highcharts-tooltip-box 	{stroke-width: 0px; color:#2f8927; fill: #fff;  fill-opacity: 0.95;}
.highcharts-tooltip-box .highcharts-label-box 
							{fill: #FFF;  color:#2f8927;fill-opacity: 0.85;}
.highcharts-tooltip-0 		{filter: url(#drop-shadow-0);stroke: #2f8927; color: #2f8927;}
.highcharts-tooltip-1 		{filter: url(#drop-shadow-0);stroke: #2f8927; color: #2f8927;}
.highcharts-tooltip-2 		{filter: url(#drop-shadow-0);stroke: #2f8927; color: #2f8927;}
.highcharts-tooltip-3 		{filter: url(#drop-shadow-0);stroke: #2f8927; color: #2f8927;}
.highcharts-tooltip-4 		{filter: url(#drop-shadow-0);stroke: #2f8927; color: #2f8927;}
.highcharts-tooltip-5 		{filter: url(#drop-shadow-0);stroke: #2f8927; color: #2f8927;}
.highcharts-selection-marker{fill: #335cad;  fill-opacity: 0.25;}
.highcharts-graph 			{fill: none;  stroke-width: 2px;  stroke-linecap: round;  stroke-linejoin: round;}
.highcharts-state-hover .highcharts-graph 
							{stroke-width: 3;}
.highcharts-point-inactive 	{opacity: 0.2;  transition: opacity 50ms;  /* quick in */}
.highcharts-series-inactive {opacity: 0.2;  transition: opacity 50ms;  /* quick in */}
.highcharts-state-hover path
							{transition: stroke-width 50ms;  /* quick in */}
.highcharts-state-normal path
							{transition: stroke-width 250ms;  /* slow out */}
/* Legend hover affects points and series */
g.highcharts-series,
.highcharts-point,
.highcharts-markers,
.highcharts-data-labels 	{transition: opacity 250ms;}
.highcharts-axis-labels.highcharts-yaxis-labels,
.highcharts-axis-labels.highcharts-xaxis-labels	
							{fill: #2f8927;stroke:#fff}
.highcharts-grid.highcharts-xaxis-grid
							{fill: #2f8927}
.highcharts-legend-series-active g.highcharts-series:not(.highcharts-series-hover),
.highcharts-legend-point-active .highcharts-point:not(.highcharts-point-hover),
.highcharts-legend-series-active .highcharts-markers:not(.highcharts-series-hover),
.highcharts-legend-series-active .highcharts-data-labels:not(.highcharts-series-hover) 
							{opacity: 0.2;}
/* Series options */
/* Default colors */
.highcharts-color-0 		{fill: #2f8927;  stroke: #2f8927;stroke-width:1;}
.highcharts-color-1 		{fill: #6c757d;  stroke: #6c757d}			/* #E41D29;*/
.highcharts-color-2 		{fill: #11772D;  stroke: #11772D;}
.highcharts-color-3			{fill: #2aa669;  stroke: #F00;} 
.highcharts-color-4 		{fill: #003367;  stroke: none;}
.highcharts-color-5 		{fill: #DD0000;  stroke: #DD0000;} /*red */
.highcharts-color-6 		{fill: #39CC64;  stroke: #39CC64;} /*Green / Rest */
.highcharts-color-7 		{fill: #003367;  stroke: #003367;} /*Blue / Drive */
.highcharts-color-8 		{fill: #FF6600;  stroke: #FF6600;} /*Orange / Work */
.highcharts-color-9 		{fill: transparent; stroke: #EEE;} /*Empty / Not-Available */
.highcharts-color-10 		{fill: #E1E1E1;  stroke: #E1E1E1;} /*Empty / Available */
.highcharts-color-11 		{fill: #FFFF00;  stroke: #FFFF00;} /*yellow */
.highcharts-area 			{fill-opacity: 0.75;  stroke-width: 0;}
.highcharts-markers 		{stroke-width: 1px;  stroke: #ffffff;}
.highcharts-point 			{stroke-width: 0px;}
.highcharts-dense-data .highcharts-point 
							{stroke-width: 1;}
.highcharts-data-label 		{font-size: 0.9em;  font-weight: bold;}
.highcharts-data-label-box	{fill: transparent; stroke:#2f8927; stroke-width: 0px;}
.highcharts-data-label text,
 text.highcharts-data-label	{fill: #2f8927;}
.highcharts-data-label-connector
							{fill: none;}
.highcharts-halo 			{fill-opacity: 0.25;  stroke-width: 0;}
.highcharts-series:not(.highcharts-pie-series) .highcharts-point-select,
.highcharts-markers .highcharts-point-select 
							{fill: #cccccc;  stroke: #000000;}
.highcharts-column-series rect.highcharts-point 
							{stroke: #ffffff;}
.highcharts-column-series .highcharts-point 
							{transition: fill-opacity 250ms;}
.highcharts-column-series .highcharts-point-hover 
							{fill-opacity: 0.75;  transition: fill-opacity 50ms;}
.highcharts-pie-series .highcharts-point 
							{stroke-linejoin: round;  stroke: #ffffff;}
.highcharts-pie-series .highcharts-point-hover 
							{fill-opacity: 0.75;  transition: fill-opacity 50ms;}
.highcharts-funnel-series .highcharts-point 
							{stroke-linejoin: round;  stroke: #ffffff;}
.highcharts-funnel-series .highcharts-point-hover 
							{fill-opacity: 0.75;  transition: fill-opacity 50ms;}
.highcharts-funnel-series .highcharts-point-select 	
							{fill: inherit;  stroke: inherit;}
.highcharts-pyramid-series .highcharts-point 
							{stroke-linejoin: round;  stroke: #ffffff;}
.highcharts-pyramid-series .highcharts-point-hover 
							{fill-opacity: 0.75;  transition: fill-opacity 50ms;}
.highcharts-pyramid-series .highcharts-point-select 
							{fill: inherit;  stroke: inherit;}
.highcharts-solidgauge-series .highcharts-point 
							{stroke-width: 0;}
.highcharts-treemap-series .highcharts-point 
							{stroke-width: 1px;  stroke: #e6e6e6;  transition: stroke 250ms, fill 250ms, fill-opacity 250ms;}
.highcharts-treemap-series .highcharts-point-hover 
							{stroke: #999999;  transition: stroke 25ms, fill 25ms, fill-opacity 25ms;}
.highcharts-treemap-series .highcharts-above-level 
							{display: none;}
.highcharts-treemap-series .highcharts-internal-node 
							{fill: none;}
.highcharts-treemap-series .highcharts-internal-node-interactive 
							{fill-opacity: 0.15;  cursor: pointer;}
.highcharts-treemap-series .highcharts-internal-node-interactive:hover 
							{fill-opacity: 0.75;}
.highcharts-vector-series .highcharts-point 
							{fill: none;  stroke-width: 2px;}
.highcharts-windbarb-series .highcharts-point 	
							{fill: none;  stroke-width: 2px;}
/* Legend */
.highcharts-legend-box 		{fill: none;  stroke-width: 0;}
.highcharts-legend-item > text
							{fill: #333333;  font-weight: bold;  font-size: 1em;  cursor: pointer;  stroke-width: 0;}
.highcharts-legend-item:hover text 
							{fill: #FFF;}
.highcharts-legend-item-hidden * 
							{fill: #cccccc !important;  stroke: #cccccc !important;  transition: fill 250ms;}
.highcharts-legend-nav-active
							{fill: #003399;  cursor: pointer;}
.highcharts-legend-nav-inactive 
							{fill: #cccccc;}
circle.highcharts-legend-nav-active, 
circle.highcharts-legend-nav-inactive 
							{fill: rgba(192, 192, 192, 0.0001);}
.highcharts-legend-title-box{fill: none;  stroke-width: 0;}
/* Bubble legend */
.highcharts-bubble-legend-symbol 
							{stroke-width: 2;  fill-opacity: 0.5;}
.highcharts-bubble-legend-connectors 
							{stroke-width: 1;}
.highcharts-bubble-legend-labels 
							{fill: #FF0000;}
/* Loading */
.highcharts-loading 		{position: absolute;  background-color: #ffffff;  opacity: 0.5;  text-align: center;  z-index: 10;  transition: opacity 250ms;}
.highcharts-loading-hidden 	{height: 0 !important;  opacity: 0;  overflow: hidden;  transition: opacity 250ms, height 250ms step-end;}
.highcharts-loading-inner 	{font-weight: bold;  position: relative;  top: 45%;}
/* Plot bands and polar pane backgrounds */
.highcharts-plot-band, 
.highcharts-pane 			{fill: none;  fill-opacity: 0.05;}
.highcharts-plot-line 			{fill: none;  stroke: #999999;  stroke-width: 1px;}
/* Highcharts More and modules */
.highcharts-boxplot-box 	{fill: #ffffff;}
.highcharts-boxplot-median 	{stroke-width: 2px;}
.highcharts-bubble-series .highcharts-point 
							{fill-opacity: 0.5;}
.highcharts-errorbar-series .highcharts-point 
							{stroke: #000000;}
.highcharts-gauge-series .highcharts-data-label-box 	
							{stroke: #cccccc;  stroke-width: 1px;}
.highcharts-gauge-series .highcharts-dial 
							{fill: #000000;  stroke-width: 0;}
.highcharts-polygon-series .highcharts-graph 
							{fill: inherit;  stroke-width: 0;}
.highcharts-waterfall-series .highcharts-graph 
							{stroke: #333333;  stroke-dasharray: 1, 3;}
.highcharts-sankey-series .highcharts-point 
							{stroke-width: 0;}
.highcharts-sankey-series .highcharts-link 
							{transition: fill 250ms, fill-opacity 250ms;  fill-opacity: 0.5;}
.highcharts-sankey-series .highcharts-point-hover.highcharts-link 
							{transition: fill 50ms, fill-opacity 50ms;  fill-opacity: 1;}
.highcharts-venn-series .highcharts-point 
							{fill-opacity: 0.75;  stroke: #cccccc;  transition: stroke 250ms, fill-opacity 250ms;}
.highcharts-venn-series .highcharts-point-hover {  fill-opacity: 1;  stroke: #cccccc;}
/* Highstock */
.highcharts-navigator-mask-outside 
							{fill-opacity: 0;}
.highcharts-navigator-mask-inside 
							{fill: #6685c2;  /* navigator.maskFill option */ fill-opacity: 0.25;  cursor: ew-resize;}
.highcharts-navigator-outline 
							{stroke: #cccccc;  fill: none;}
.highcharts-navigator-handle{stroke: #cccccc;  fill: #f2f2f2;  cursor: ew-resize;}
.highcharts-navigator-series{fill: #335cad;  stroke: #335cad;}
.highcharts-navigator-series .highcharts-graph 
							{stroke-width: 1px;}
.highcharts-navigator-series .highcharts-area 
							{fill-opacity: 0.05;}
.highcharts-navigator-xaxis .highcharts-axis-line 
							{stroke-width: 0;}
.highcharts-navigator-xaxis .highcharts-grid-line 
							{stroke-width: 1px;  stroke: #e6e6e6;}
.highcharts-navigator-xaxis.highcharts-axis-labels 
							{fill: #2f8927;}
.highcharts-navigator-yaxis .highcharts-grid-line {  stroke-width: 0;}
.highcharts-scrollbar-thumb {fill: #cccccc;  stroke: #cccccc;  stroke-width: 1px;}
.highcharts-scrollbar-button 
							{fill: #e6e6e6;  stroke: #cccccc;  stroke-width: 1px;}
.highcharts-scrollbar-arrow {fill: #2f8927;}
.highcharts-scrollbar-rifles 	
							{stroke: #2f8927;  stroke-width: 1px;}
.highcharts-scrollbar-track {fill: #f2f2f2;  stroke: #f2f2f2;  stroke-width: 1px;}
.highcharts-button 			{fill: #f7f7f7;  stroke: #cccccc;  cursor: default;  stroke-width: 1px;  transition: fill 250ms;}
.highcharts-button text 	{fill: #333333;}
.highcharts-button-hover 	{transition: fill 0ms;  fill: #e6e6e6;  stroke: #cccccc;}
.highcharts-button-hover text 
							{fill: #333333;}
.highcharts-button-pressed	{font-weight: bold;  fill: #e6ebf5;  stroke: #cccccc;}
.highcharts-button-pressed text 
							{fill: #333333;  font-weight: bold;}
.highcharts-button-disabled text 
							{fill: #333333;}
.highcharts-range-selector-buttons .highcharts-button {  stroke-width: 0px;}
.highcharts-range-label rect 
							{fill: none;}
.highcharts-range-label text 	{fill: #2f8927;}
.highcharts-range-input rect 	{fill: none;}
.highcharts-range-input text	{fill: #333333;}
.highcharts-range-input 		{stroke-width: 1px;  stroke: #cccccc;}
input.highcharts-range-selector {position: absolute;  border: 0;  width: 1px; height: 1px;  padding: 0;  text-align: center;  left: -9em; }
.highcharts-crosshair-label text{fill: #333;  font-size: 1.1em;}
.highcharts-crosshair-label .highcharts-label-box 
								{  fill: inherit;}
.highcharts-candlestick-series .highcharts-point {  stroke: #000000;  stroke-width: 1px;}
.highcharts-candlestick-series .highcharts-point-up {  fill: #ffffff;}
.highcharts-ohlc-series .highcharts-point-hover {  stroke-width: 3px;}
.highcharts-flags-series .highcharts-point .highcharts-label-box {  stroke: #999999;  fill: #ffffff;  transition: fill 250ms;}
.highcharts-flags-series .highcharts-point-hover .highcharts-label-box {  stroke: #000000;  fill: #ccd6eb;}
.highcharts-flags-series .highcharts-point text {  fill: #000000;  font-size: 0.9em;  font-weight: bold;}
/* Highmaps */
.highcharts-map-series .highcharts-point {  transition: fill 500ms, fill-opacity 500ms, stroke-width 250ms;  stroke: #cccccc;}
.highcharts-map-series .highcharts-point-hover {  transition: fill 0ms, fill-opacity 0ms;  fill-opacity: 0.5;  stroke-width: 2px;}
.highcharts-mapline-series .highcharts-point {  fill: none;}
.highcharts-heatmap-series .highcharts-point {  stroke-width: 0;}
.highcharts-map-navigation 		{font-size: 1.3em;  font-weight: bold;  text-align: center;}
.highcharts-coloraxis 			{stroke-width: 0;}
.highcharts-coloraxis-marker 	{fill: #999999;}
.highcharts-null-point 			{fill: #f7f7f7;}
/* 3d charts */
.highcharts-3d-frame 			{fill: transparent;}
/* Exporting module */
.highcharts-contextbutton 		{fill: #ffffff;  /* needed to capture hover */
  stroke: none;  stroke-linecap: round;}
.highcharts-contextbutton:hover {fill: #e6e6e6;  stroke: #e6e6e6;}
.highcharts-button-symbol 		{stroke: #2f8927;  stroke-width: 3px;}
.highcharts-menu 				{border: 1px solid #FF6600;  background: rgba(255, 255, 255, 0.1);  padding: 5px 0;  box-shadow: 3px 3px 10px #888;}
.highcharts-menu-item 			{padding: 0.5em 1em;  background: none;  color: #333333;  cursor: pointer;  transition: background 250ms, color 250ms;}
.highcharts-menu-item:hover 	{background: #335cad;  color: #ffffff;}
/* Drilldown module */
.highcharts-drilldown-point 	{cursor: pointer;}
.highcharts-drilldown-data-label text,
text.highcharts-drilldown-data-label,
.highcharts-drilldown-axis-label {cursor: pointer;  fill: #003399;  font-weight: bold;  text-decoration: underline;}
/* No-data module */
.highcharts-no-data text 		{font-weight: bold;  font-size: 12px;  fill: #2f8927;}
/* Drag-panes module */
.highcharts-axis-resizer 		{cursor: ns-resize;  stroke: black;  stroke-width: 2px;}
/* Bullet type series */
.highcharts-bullet-target 		{stroke-width: 0;}
/* Lineargauge type series */
.highcharts-lineargauge-target 	{stroke-width: 1px;  stroke: #333333;}
.highcharts-lineargauge-target-line {stroke-width: 1px;  stroke: #333333;}
/* Annotations module */
.highcharts-annotation-label-box {stroke-width: 1px;  stroke: #000000;  fill: #000000;  fill-opacity: 0.75;}
.highcharts-annotation-label text {fill: #e6e6e6;}
/* Gantt */
.highcharts-treegrid-node-collapsed, 
.highcharts-treegrid-node-expanded {  cursor: pointer;}
.highcharts-point-connecting-path { fill: none;}
.highcharts-grid-axis .highcharts-tick {stroke-width: 1px;}
.highcharts-grid-axis .highcharts-axis-line { stroke-width: 1px; stroke: #2f8927;}
.highcharts-text-outline		{fill:none; stroke:none}
.highcharts--label.highcharts-data-label.highcharts-data-label-color-1	{fill:#fff;stroke:#fff;}
.highcharts--label.highcharts-data-label.highcharts-data-label-color-2	{fill:#fff;stroke:#fff;}
.highcharts--label.highcharts-data-label.highcharts-data-label-color-3	{fill:#fff;stroke:#fff;}
.highcharts--label.highcharts-data-label.highcharts-data-label-color-4	{fill:#fff;stroke:#fff;}

/*  leaflet overruling */
.leaflet-touch .leaflet-bar {border: 0px solid rgba(0,0,0,0.2);background-clip: padding-box;}
.leaflet-control-layers 	{background: rgba(255,255,255,0.4);border-radius: 0px; box-shadow: none ;}
.leaflet-retina .leaflet-control-layers-toggle 
							{background-image: url(layers.png);background-size: 20px 20px;}
.leaflet-touch .leaflet-control-layers-toggle 
							{width: 30px;  height: 30px;}
.leaflet-control-layers-toggle 	
							{background-image: url(layers.png);background-color:#FFF; width: 26px; height: 26px;border-radius:4px;background-size: 18px 18px;    box-shadow: 0 1px 5px rgba(0,0,0,0.65);}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar 
							{border: 0px solid rgba(0,0,0,0.2);background-clip: padding-box;}
.leaflet-control-layers-expanded
							{padding: 6px 10px 6px 6px;color: #333;	background: #fff; box-shadow:0px 2px 8px #333;border-radius:4px}
.leaflet-tooltip 			{position: absolute;padding: 0px;border:0px;background-color:none}
.leaflet-container 			{font: inherit;}

/* MarkerCluster overruling */
.marker-cluster-small		{background-color: rgba( 38, 108,171, 0.2);}
.marker-cluster-small div 	{background-color: rgba( 38, 108,171, 0.7);color:#fff;}
.marker-cluster-medium 		{background-color: rgba( 38, 108,171, 0.5);}
.marker-cluster-medium div 	{background-color: rgba( 38, 108,171, 0.7);color:#fff;}
.marker-cluster-large 		{background-color: rgba( 38, 108,171, 0.9);}
.marker-cluster-large div 	{background-color: rgba( 38, 108,171, 0.7);color:#fff;}
/* EasyButton overruling */
.leaflet-bar button:first-of-type 
							{border-top-left-radius: 4px;border-top-right-radius: 4px;}
.leaflet-bar button:last-of-type
							{border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;}
.leaflet-bar button, 
.leaflet-bar button:hover 	{width: 26px; height: 26px;  line-height: 20px;}
/* Sidebar Clickable */
.sidebar 					{background-color: rgb(230, 230, 230,0.9);transition: 0.5s;}
.sidebar a 					{text-decoration: none; font-size: 25px; color: #111; }
.sidebar a:hover 			{color: #F00;}
.sidebar .closebtn 			{font-size: 26px;}
.openbtn 					{background-color: transparent;color: #333;}
.openbtn:hover 				{background-color: transparent;}
button:focus 				{outline: 0px auto -webkit-focus-ring-color;  /* outline: 1px dotted; */  }
/* VehicleDetails Sidebar Clickable */
.VDsidebar 					{background-color:#fff;transition: 0.5s;overflow-y:auto;}
.VDsidebar a 				{text-decoration: none;  color: #2f8927; }
.VDsidebar a:hover 			{color: #103442;}
.VDsidebar .closebtn 		{font-size: 26px;}
button:focus 				{outline: 0px auto -webkit-focus-ring-color;  /* outline: 1px dotted; */  }
.fas.fa-ellipsis-v.info-box-number 
							{color: #fff; }
.panel 						{padding:5px;border-radius: 0; box-shadow: none; border-color: #EEEEEE;}
.panel-default > .panel-heading,
.p.panel-heading a			{padding:5px ; border-radius: 0; color: #212121; background-color: #ddd; border-color: #eee}
.panel-title 				{font-size: 14px;}
.panel-title > a 			{display: block;padding: 15px;text-decoration: none;}
.more-less 					{float: right; color: #212121;}
.panel-default > .panel-heading + .panel-collapse > .panel-body 
							{border-top-color: #EEEEEE;}
/* DAteRange Picker ............................*/
.daterangepicker 			{position: absolute; color: inherit; background-color: #fff; border-radius: 4px; border: 1px solid #ddd; width: 278px; max-width: none; padding: 0; margin-top: 7px; top: 100px; left: 20px; z-index: 3001;  display: none;  font-family: arial;  font-size: 15px;  line-height: 1em;}
.daterangepicker:before, 
.daterangepicker:after 		{position: absolute;  display: inline-block;  border-bottom-color: rgba(0, 0, 0, 0.2);  content: '';}
.daterangepicker:before 	{top: -7px; border-right: 7px solid transparent; border-left: 7px solid transparent; border-bottom: 7px solid #ccc;}
.daterangepicker:after 		{top: -6px; border-right: 6px solid transparent; border-bottom: 6px solid #fff; border-left: 6px solid transparent;}
.daterangepicker.opensleft:before 
							{right: 9px;}
.daterangepicker.opensleft:after 
							{right: 10px;}
.daterangepicker.openscenter:before 
							{left: 0; right: 0;  width: 0;  margin-left: auto;  margin-right: auto;}
.daterangepicker.openscenter:after 
							{left: 0; right: 0; width: 0; margin-left: auto; margin-right: auto;}
.daterangepicker.opensright:before 
							{ left: 9px;}
.daterangepicker.opensright:after {
  left: 10px;
}

.daterangepicker.drop-up {
  margin-top: -7px;
}

.daterangepicker.drop-up:before {
  top: initial;
  bottom: -7px;
  border-bottom: initial;
  border-top: 7px solid #ccc;
}

.daterangepicker.drop-up:after {
  top: initial;
  bottom: -6px;
  border-bottom: initial;
  border-top: 6px solid #fff;
}

.daterangepicker.single .daterangepicker .ranges, .daterangepicker.single .drp-calendar {
  float: none;
}

.daterangepicker.single .drp-selected {
  display: none;
}

.daterangepicker.show-calendar .drp-calendar {
  display: block;
}

.daterangepicker.show-calendar .drp-buttons {
  display: block;
}

.daterangepicker.auto-apply .drp-buttons {
  display: none;
}

.daterangepicker .drp-calendar {
  display: none;
  max-width: 270px;
}

.daterangepicker .drp-calendar.left {
  padding: 8px 0 8px 8px;
}

.daterangepicker .drp-calendar.right {
  padding: 8px;
}

.daterangepicker .drp-calendar.single .calendar-table {
  border: none;
}

.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
  color: #fff;
  border: solid black;
  border-width: 0 2px 2px 0;
  border-radius: 0;
  display: inline-block;
  padding: 3px;
}

.daterangepicker .calendar-table .next span {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.daterangepicker .calendar-table .prev span {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  min-width: 32px;
  width: 32px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;
}

.daterangepicker .calendar-table {
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #fff;
}

.daterangepicker .calendar-table table {
  width: 100%;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: #eee;
  border-color: transparent;
  color: inherit;
}

.daterangepicker td.week, .daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}

.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
  background-color: #fff;
  border-color: transparent;
  color: #999;
}

.daterangepicker td.in-range {
  background-color: #ebf4f8;
  border-color: transparent;
  color: #000;
  border-radius: 0;
}

.daterangepicker td.start-date {
  border-radius: 4px 0 0 4px;
}

.daterangepicker td.end-date {
  border-radius: 0 4px 4px 0;
}

.daterangepicker td.start-date.end-date {
  border-radius: 4px;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #357ebd;
  border-color: transparent;
  color: #fff;
}

.daterangepicker th.month {
  width: auto;
}

.daterangepicker td.disabled, .daterangepicker option.disabled {
  color: #999;
  cursor: not-allowed;
  text-decoration: line-through;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}

.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}

.daterangepicker select.yearselect {
  width: 40%;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
  width: 50px;
  margin: 0 auto;
  background: #eee;
  border: 1px solid #eee;
  padding: 2px;
  outline: 0;
  font-size: 12px;
}

.daterangepicker .calendar-time {
  text-align: center;
  margin: 4px auto 0 auto;
  line-height: 30px;
  position: relative;
}

.daterangepicker .calendar-time select.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.daterangepicker .drp-buttons {
  clear: both;
  text-align: right;
  padding: 8px;
  border-top: 1px solid #ddd;
  display: none;
  line-height: 12px;
  vertical-align: middle;
}

.daterangepicker .drp-selected {
  display: inline-block;
  font-size: 12px;
  padding-right: 8px;
}

.daterangepicker .drp-buttons .btn {
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
}

.daterangepicker.show-ranges.single.rtl .drp-calendar.left {
  border-right: 1px solid #ddd;
}

.daterangepicker.show-ranges.single.ltr .drp-calendar.left {
  border-left: 1px solid #ddd;
}

.daterangepicker.show-ranges.rtl .drp-calendar.right {
  border-right: 1px solid #ddd;
}

.daterangepicker.show-ranges.ltr .drp-calendar.left {
  border-left: 1px solid #ddd;
}

.daterangepicker .ranges {
  float: none;
  text-align: left;
  margin: 0;
}

.daterangepicker.show-calendar .ranges {
  margin-top: 8px;
}

.daterangepicker .ranges ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.daterangepicker .ranges li {
  font-size: 12px;
  padding: 8px 12px;
  cursor: pointer;
}

.daterangepicker .ranges li:hover {
  background-color: #eee;
}

.daterangepicker .ranges li.active {
  background-color: #08c;
  color: #fff;
}

/*  Larger Screen Styling */
@media (min-width: 564px) {
  .daterangepicker 		{width: auto; }
  .daterangepicker .ranges ul { width: 140px; }
  .daterangepicker.single .ranges ul { width: 100%; }
  .daterangepicker.single .drp-calendar.left {clear: none; }
  .daterangepicker.single .ranges, 
  .daterangepicker.single .drp-calendar {float: left; }
  .daterangepicker 		{direction: ltr;text-align: left; }
  .daterangepicker .drp-calendar.left {clear: left;  margin-right: 0; }
  .daterangepicker .drp-calendar.left .calendar-table {border-right: none;  border-top-right-radius: 0;    border-bottom-right-radius: 0;  }
  .daterangepicker .drp-calendar.right {margin-left: 0; }
  .daterangepicker .drp-calendar.right .calendar-table {border-left: none; border-top-left-radius: 0;   border-bottom-left-radius: 0; }
  .daterangepicker .drp-calendar.left .calendar-table  {padding-right: 8px;}
  .daterangepicker .ranges, .daterangepicker .drp-calendar { float: left; }
}

@media (min-width: 730px) {
  .daterangepicker .ranges 		{width: auto; }
  .daterangepicker .ranges 		{float: left; }
  .daterangepicker.rtl .ranges 	{float: right;}
  .daterangepicker .drp-calendar.left 
								{ clear: none !important;}
}							