@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
body,select		{font-family: 'Roboto', Helvetica,sans-serif; font-size:13px;}
/*    
possible fonts : 'Roboto' | 'Roboto Mono' | 'Ubuntu'| 'Oxygen'
*/
.TermsAndConditionsText,
.modal-about 		{font-family: 'Roboto Mono', Helvetica,sans-serif;}
.bg-dark 			{background-color: #FFF !important;border-bottom: 1px solid #FF6600;}
.bg-footer 			{background-color: rgba(255,255,255,0.8);border-top: 1px solid #ddd;}
.navbar-dark 
.navbar-brand  		{color: #444;}
.navbar-dark 
.navbar-nav 
.nav-link 			{color: #444;}
.navbar-dark 
.navbar-brand:focus, 
.navbar-dark 
.navbar-brand:hover {  color: #333;}
.navbar-dark 
.navbar-nav 
.nav-link:focus, 
.navbar-dark 
.navbar-nav 
.nav-link:hover 	{color: #333}
.login-body 		{background-color:#f6f6f6;   }
.login-bg			{background-image: url("https://www.daf.com/-/media/images/daf-corporate-info/suppliers/daf-entrance-sts_7941-hhm.jpg");
					 background-size: auto 100%;  background-repeat: no-repeat;  background-position: right top;  }
body 				{background-color:#333;}
.container 			{background-color:#F6F6F6;max-width: 1800px;}
.section-full 		{background-color:#F6F6F6;max-width: 1800px;height: calc(100vh - 108px);margin:auto}
.section-login 		{background-color:#F6F6F6;max-width: 1800px;height: calc(100vh - 208px);margin:auto}
.card-title, 
a.card-title 		{color: #a4a7b5 ; text-transform:none; background-color: transparent; border-bottom:0 px solid #DDD; }
.card 				{background-color:#FFF;/*box-shadow: 1px 1px 5px rgba(0,0,0,0);   */  border: 0px solid rgba(0,0,0,.125);   }
.card-header 		{font-weight:700;color: #666;font-size:115%;background-color:#F6F6F6; border: 1px solid rgba(0,0,0,.125); }
.card-body 			{padding-bottom:1px;padding-top:2px;}
.logo-footer 		{border-top: none; background-color: rgba(255,255,255,0.25);color:#fff;}
.payoff 			{color: #444;}
.input-group-addon 	{color: #555;background-color: #fff;  border: 0px solid #ddd;border-bottom: 1px solid #ddd;}
.form-control 		{color: #67757c;border:0;border-bottom: 1px solid #ddd; border-radius:0px; }
select 				{background-color: #fff; border:0; color: #495057;border-bottom:1px solid #ddd}
a.VL_list 			{color: transparent;}
.DashTile:hover 	{/*box-shadow: 1px 1px 5px #888;margin: -5px;margin-bottom: 15px;background-color: #F6F6F6; border: 1px solid #BBB;*/}	
.DashTile 			{box-shadow: 0px 0px 0px #FFF;background-color: #fff;}	
option.SOptAll		{color:red;	font-weight:700;}
.bg-trans 			{background-color: transparent;}
.VehicleListName	{color:#111;}
.VehicleListInfo	{color:#666;    font-weight: 400;}
.dropdown-item:focus, 
.dropdown-item:hover {color: #fff;    text-decoration: none; background-color: #FF6600;font-size:13px;}
.header.headroom 	{position: fixed;top: 0; left: 0; transition: transform 250ms ease-in-out; width: 100%;z-index: 1000;}
.sticky-top 		{position: sticky;top: 0;  z-index: 1020;}
.meta-navigation__list {flex-direction: row;}
.navbar-nav 		{display: flex;flex-direction: column;padding-left: 0;margin-bottom: 0;list-style: none;}
ol, ul, dl 			{margin-top: 0; margin-bottom: 1rem;}
h4 					{font-weight:700;font-size:110%; text-transform:NONE}
.div-title 			{background-color:#A4A7B5; color:#fff; min-height:50px;text-transform:uppercase;    }

@media (max-width: 768px) {
/* .container {max-width: 100%; min-height: calc(100vh-60px);background-color: transparant; padding-left:0px ;padding-right:0px;} */
.card-header h4 	{font-weight:700;color: #888;font-size:100%;}
h4 					{font-weight:400;color: #888;font-size:110%;}
.card-header 		{background-color:#F6f6f6;} 
.card-title, 
a.card-title 		{color: #a4a7b5 ; text-transform:UPPERCASE; background-color: transparent; border-bottom:0 px solid #DDD; }
.info-box-number 	{font-size: 24px;  font-weight: 700;}
body,select			{font-family: 'Roboto Mono', Helvetica,sans-serif; font-size:15px;}
.row 				{ margin-right: -20px;margin-left: -20px;}
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, section {   display: block;   overflow-y: auto;   overflow-x: hidden;} 
.info-box-number 	{font-size: 18px;  font-weight: 700;}
.info-icon 			{color: #a4a7b5;font-weight:400;}
.text-primary 		{color: #FF6600!important; }
.nav-tabs 			{border-bottom: 1px solid #DDD;}
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover {border: 0px solid #444;;color:#FF6600; font-weight: 700;background-color: transparent;border-bottom: 3px solid #a4a7b5;}
.nav-tabs .nav-link:focus {border-color: #fff;background-color: #FFF;}
.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {color: #495057;/* background-color: #f1f1f1; */ border-color: #FFF; font-weight: 700; border-bottom: 3px solid #FF6600;}

/* #VehicleDetails  */

.dropdown-menu, 
.form-control  		{font-size: inherit;}
::-webkit-scrollbar-track{background: rgba(144, 144, 144, 0.4); }
::-webkit-scrollbar-track-piece  {background-color: transparent;}
::-webkit-scrollbar-thumb{background-color:#343a40;}
::-webkit-scrollbar {width:10px;}
.delayedrow			{color:red;font-weight:400;}
.correctedrow		{color:orange;font-weight:700;}
.bg-primary 		{background-color:#FF6600;}
.card-body 			{padding: 10px;}
.text-info 			{color: #FF6600!important;}
.dealerservice:hover{color: #fff;background-color: #FF6600;}
.TripListName		{color:#111;font-weight:400;}
.TripListNameS		{color:#888;font-weight:400;font-size:90%;}
.TripListing, 
.TripListingActive, 
.DriverInfo 		{border-top:1px solid #ddd; border-left: 3px solid transparent;	margin-bottom: 3px ;min-height: 35px;}
.TripListingBreak 	{/* border-bottom:1px solid #ddd; */border-left: 3px solid transparent;margin-bottom: 3px ;}
.TripListingEmpty 	{border-left: 3px solid transparent;margin-bottom: 3px ;min-height:5px;}
.TripListing:hover, 
.DriverInfo:hover 	{/* 	border-bottom:1px solid #ddd; *//* 	background-color:#F1F1F1; */	color: #666;border-left: 3px solid #FF6600;   margin-bottom: 3px ;box-shadow: 2px 2px 5px #ddd;}
.TripListingActive:hover {color: #666;border-left: 3px solid #FC5F01; margin-bottom: 3px ;box-shadow: 2px 2px 5px #ddd;}
.TripListingBreak:hover  {color: #666;border-left: 3px solid #8AC543; margin-bottom: 3px ;box-shadow: 2px 2px 5px #ddd;}
.VehicleListing 	{border-bottom:1px solid #ddd;padding-bottom:5px;padding-top:5px;border-left: 3px solid transparent;}
.VehicleListing:hover {border-bottom:1px solid #ddd;padding-bottom:5px;padding-top:5px;/*background-color:#F1F1F1; */color: #666;border-left: 3px solid #FF6600;/* 	border-radius: .25rem!important;    box-shadow: 2px 2px 5px #ddd;*/}

.available 			{color : #f1f1f1;}
.rest 				{color : #8AC543;}
.drive 				{color : #FF6600;}
.work 				{color : #FC5F01;}
.bg-available		{background-color : #f1f1f1; color: #666}
.bg-rest 			{background-color : #8AC543; color: #fff}
.bg-drive 			{background-color : #FF6600; color: #fff}
.bg-work 			{background-color : #FC5F01; color: #fff}

/* Datatable row styling */
table.dataTable.stripe tbody tr, table.dataTable.display tbody tr.odd {
    background-color: rgb(38,108,171,0.15);
}
table.dataTable.stripe tbody tr, table.dataTable.display tbody tr:hover {
    background-color: #FF6600;
	color : #fff;
}
tr.even:hover, tr.odd:hover {
    background-color: #FF6600;
    color: #fff;
}
.btn--ghost, .btn-ghost, .btn-primary {
    background-image: -owg-linear-gradient(180deg,#FF6600 0,#FF6600 100%)!important;
    background-image: -o-linear-gradient(180deg,#FF6600 0,#FF6600 100%)!important;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FF6600),to(#FF6600))!important;
    background-image: -o-linear-gradient(top,#FF6600 0,#FF6600 100%)!important;
    background-image: linear-gradient(180deg,#FF6600,#FF6600)!important;
    border: 0;
    -webkit-transition: background-image .1s ease-in-out;
    -o-transition: .1s background-image ease-in-out;
    transition: background-image .1s ease-in-out;
}
.bgprimary { background-color:#FF6600;}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #FF6600;
    border-color: #FF6600;
}
.notice 			{background-color: #transparent;/* border-left: 2px solid #fafafa;border-right: 2px solid #fafafa; */margin-bottom: 5px;}
.notice a:visited	{padding: 2px;}
.notice-sm 			{padding: 5px;font-size: 100%;}
.notice-lg 			{padding: 35px;font-size: large;}
.notice-success 	{border-color: #00a65a;font-size: 100%;}
.notice-primary 	{border-color: #FF6600;font-size: 100%;}
.notice-stopped 	{border-color: #66cce2;font-size: 100%;}
.notice-success		{color: #80D651;}
.notice-info 		{border-color: #FF6600;}
.notice-info		{color: #FF6600;}
.notice-warning 	{border-color: #FC5F01;}
.bg-warning 		{background-color: #FC5F01;}
.bg-white 			{background-color: #FFF;color:#444;}
.warning 			{color: #FC5F01;}
.notice-warning		{color: #FC5F01;}
.notice-warning 	{color: #FC5F01;}
.notice-danger 		{border-color: #d73814;background: rgba(183,28,28,.05);}
.bg-danger 			{background-color: #d73814;}
.bg-grey 			{background-color: #efefef;}
.danger 			{color: #d73814;}
.notice-danger		{color: #d73814;}
.notice-danger 		{color: #d73814;}
.notice-backlog 	{color: #999;background-color: #ddd;border-color: #333;font-size: 100%;}
.bg-dashboard		{background-image: url('http://rfmsconnect.com/img/dashboard.png');	background-position: center center;  background-repeat: no-repeat;  background-size: cover;}
.bg-default			{background-color: #efefef;}
.primary 			{color:#FF6600;}
.gray 				{color:#A4A7B5;}

@media screen and (max-width: 991px) {
H3,H4 				{font-size:80%}	
	
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-calendar:before {
  content: "\e109";
}  

.VehicleListIconOk, .VehicleListIconStopped,.VehicleListIconOk:hover {
    color: #FF6600;
}
.VehicleList:hover {
	color: #FF6600;
}
.TripHeader,.TripDHeader  {
	color: #FF6600;
}
::-webkit-scrollbar-thumb{
	background-color:#FF6600;
}
 :focus {
	border-color: #FF6600;
	outline:0;
}
.btn.focus, .btn:focus {
     outline: 0px;
	 border-color : transparent;
	 box-shadow:none;
} 

.form-control:focus {
/*     color: #495057; */
/*     background-color: #fff; */
    outline: 0;
    box-shadow: 0 0 0 0 rgba(255,255,255,1); 
	border-color:#FF6600;
}
.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
    box-shadow: none;
}
a {
    color: #FF6600;
}
.page-link {
    color: #FF6600;
    background-color: #fff;
 
}
.sloader {
    border: .2em solid rgba(218, 219, 223, 1);
    border-left: .2em solid rgba(38,108,171,1);
}
.loader {
    border: .4em solid rgba(218, 219, 223, 1);
    border-left: .4em solid rgba(38,108,171,1);
}
.navbar-toggler-icon {
    color: #666;
	border-color: #666;
}
.form-control:focus {
    color: #495057;
    background-color: #EEE;
    border-color: #2; 
    outline: 0;
    box-shadow: 0 0 0 0; 
}
.VehicleListIconDelayed 	{color:#FF0000;}
.VehicleListIconError		{color:#FF6600;}
.VehicleListBacklog,
.VehicleListIconStopped,
.VehicleListIconOk,
.VehicleListIconOk:hover 	{color:#FF6600;}
.loginbox 					{background: rgba(255, 255, 255, 1);	}

a.DealerInfo 				{ color: #a4a7b5;}
.navbar-dark .navbar-toggler {border: 2px solid #A4A7B5;}
.navbar-toggler .navbar-toggler-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}